.box_upload {
    background: white;
    border: 1px solid #eeeeee;
    border-radius: 3px 3px 0 0;
    margin: 4px;
    moz-border-radius: 3px 3px 0 0;
    padding: 4px;
    position: relative;
    webkit-border-radius: 3px 3px 0 0;
}

.show-grid [class^=col-] {
    border: 1px solid #ddd;
    border: 1px solid rgba(115, 115, 115, 0.2);
    padding-bottom: 10px;
    padding-top: 10px;
}

.filePicker {
    margin-left: 15px;
    margin-right: 15px;
}

.statusChange {
    background: #DDDDDD;
    height: 38px;
    position: relative;
}

.statusApproved {
    background: #4A90E2;
    height: 38px;
    position: relative;
}

.statusRejected {
    background: #D0021B;
    height: 39px;
    position: relative;
}

.dotInfo {
    border-radius: 30px;
    cursor: pointer;
    float: left;
    height: 35px;
    margin-right: 10px;
    margin-top: 5px;
    padding: 5px 7px;
    position: relative;
    text-align: center;
    width: 35px;
    z-index: 100;
}

.aprove {
    background-color: #4990E2;
    color: #FFF;
}

.rejected {
    background-color: #D0021B;
    color: #FFF;
}

.process {
    background-color: #818181;
    color: #FFF;
}

.browserfile {
    cursor: pointer;
    height: 100%;
    left: 0px;
    margin-left: 15px;
    opacity: 0;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 99;
}

.dotInfo + .file-input-wrapper > .browserfile { margin-left: 80px; }

.marg-T1px { margin-top: 1px; }

.marg-T3px { margin-top: 3px; }

.marg-T5px { margin-top: 5px; }

.marg-T10px { margin-top: 10px; }

.marg-T15px { margin-top: 15px; }

.marg-T20px { margin-top: 20px; }

.statusApprovedColor { color: #3c763d; }