/*.alert-info {
 color:black !important; 
}*/

.EstiloFuente  { 
    font-size: 14px;
    cursor: pointer;
    cursor: hand;
}

li {
    cursor: pointer;
    cursor: hand;
}

.Indice { font-size: 18px; }

.TituloPanel {
    position: relative;
    top: -50px;
}

.CuerpoDetallePanel {
    font-size: 15px;
    position: relative;
    top: -30px;
}

.control { margin: 2px 2px 2px 2px; }

