ul, li { list-style-type: none; }

.collapse_menu .collapse_menu--icon,
.vertical_nav {
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

* { box-sizing: border-box; }

:active, :focus { outline: 0; }

#IdCollapse {
    margin-left: 10px;
    position: absolute;
}

.collapse_menu { display: none; }

.vertical_nav__minify { width: 35px; }


.vertical_nav__minify .collapse_menu--icon {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.collapse_menu:hover {
    background: #313131;
    color: #fff;
}

.collapse_menu .collapse_menu--icon {
    display: block;
    float: left;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    width: 20px;
}

.collapse_menu .collapse_menu--icon:before {
    color: #fff;
    content: "\f053";
}

.collapse_menu .collapse_menu--label {
    display: block;
    height: 40px;
    line-height: 40px;
}


.menu--item {
    /*line-height: 40px;*/
    min-height: 40px;
    position: relative;
}

.collapse_menu {
    background: #777;
    border: 0;
    border-top: 1px solid #e6e6e6;
    color: #666;
    cursor: pointer;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0;
    position: absolute;
    /*font-size:.875rem;*/
    text-align: left;
    top: 0;
    width: 100%;
}

.collapse_menu:hover {
    background: #313131;
    color: #fff;
}

/*MFP 09-03-2017*/



:focus { outline: none; }

.row {
    margin-left: 0;
    margin-right: 0;
}

.side-menu-container .navbar-nav > li > a { color: #000000 !important; }

.side-menu-container .navbar-nav > .active > a, .side-menu-container .navbar-nav > .active > a:hover, .side-menu-container .navbar-nav > .active > a:focus {
    background-color: #f8f8f8 !important;
    color: #000000 !important;
}

.absolute-wrapper {
    background-color: #f8f8f8;
    border-right: 1px solid #e7e7e7;
    height: 100%;
    position: fixed;
    top: 0;
    width: 245px;
    z-index: 1 !important;
}

.navbar-nav {
    float: left;
    margin: 0;
}

.nav, .navbar, .abl-logoheader {
    margin-bottom: 5px;
    margin-top: 5px;
    /*position: relative!important;*/
    z-index: 900 !important;
}

nav, .navbar, .abl-logoheader .logo { max-width: 100%; }

.navbar-user { float: right !important; }

.navbar-default .navbar-toggle {
    border-color: transparent;
    float: left;
    margin-left: 5px;
}

.navbar-default .navbar-toggle .icon-bar { background-color: white; }

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus { background-color: white; }

.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar { background-color: #428bca; }

.side-menu {
    background-color: #f8f8f8;
    border-right: 1px solid #e7e7e7;
    /*width: 245px;*/
    height: 100%;
    position: absolute;
    z-index: 1000;
}

.side-menu .navbar { border: none; }

.side-menu .navbar-header {
    border-bottom: 1px solid #e7e7e7;
    width: 100%;
}


.side-menu .navbar-nav .subactive a {
    background-color: transparent;
    border-right: 5px solid #999999 !important;
    margin-right: -1px;
}

.side-menu .navbar-nav .inactive a { border-right: none !important; }

.side-menu .navbar-nav .active a {
    background-color: transparent;
    border-right: 5px solid #026ba9;
    margin-right: -1px;
}

.side-menu .navbar-nav li {
    border-bottom: 1px solid #e7e7e7;
    display: block;
    width: 250px;
}

.side-menu .navbar-nav li a { padding: 15px; }

.side-menu .navbar-nav li a .glyphicon { padding-right: 10px; }

.side-menu #dropdown {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0;
}

.side-menu #dropdown .caret {
    float: right;
    margin: 9px 5px 0;
}

.side-menu #dropdown .indicator { float: right; }

.side-menu #dropdown > a { border-bottom: 1px solid #e7e7e7; }

.side-menu #dropdown .panel-body {
    background-color: #f3f3f3;
    padding: 0;
}

.side-menu #dropdown .panel-body .navbar-nav { width: 100%; }

.side-menu #dropdown .panel-body .navbar-nav li {
    border-bottom: 1px solid #e7e7e7;
    padding-left: 15px;
}

.side-menu #dropdown .panel-body .navbar-nav li:last-child { border-bottom: none; }

.side-menu #dropdown .panel-body .panel > a {
    margin-left: -20px;
    padding-left: 35px;
}

.side-menu #dropdown .panel-body .panel-body { margin-left: -15px; }

.side-menu #dropdown .panel-body .panel-body li { padding-left: 30px; }

.side-menu #dropdown .panel-body .panel-body li:last-child { border-bottom: 1px solid #e7e7e7; }

.side-menu #search-trigger {
    background-color: #f3f3f3;
    border: 0;
    border-radius: 0;
    padding: 15px 18px;
    position: absolute;
    right: 0;
    top: 0;
}

.side-menu .brand-name-wrapper { min-height: 50px; }

.side-menu .brand-name-wrapper .navbar-brand { display: block; }

.side-menu #search {
    position: relative;
    z-index: 1000;
}

.side-menu #search .panel-body { padding: 0; }

.side-menu #search .panel-body .navbar-form {
    border-top: 1px solid #e7e7e7;
    margin: 0;
    padding: 0;
    padding-right: 50px;
    position: relative;
    width: 100%;
}

.side-menu #search .panel-body .navbar-form .form-group {
    position: relative;
    width: 100%;
}

.side-menu #search .panel-body .navbar-form input {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    height: 50px;
    width: 100%;
}

.side-menu #search .panel-body .navbar-form .btn {
    background-color: #f3f3f3;
    border: 0;
    border-radius: 0;
    padding: 15px 18px;
    position: absolute;
    right: 0;
    top: 0;
}

/* Main body section */

.side-body { margin-left: 0px; }

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a { color: white; }

    .navbar-user { float: left !important; }
}

@media (min-width: 768px) {
    .side-menu {
        display: block;
        height: 100%;
    }

    .side-menu .navbar-nav li { width: 200px; }

    .side-body { margin-left: 35px; }
}

@media (min-width: 992px) {
    .side-body { margin-left: 35px; }
}