#_tt {
    -ms-border-radius: 8px;
    background-color: white;
    border: 1px solid;
    border-radius: 8px;
    border-style: groove;
    color: black;
    display: block;
    filter: alpha(opacity=1);
    font: 12px sans-serif;
    font-weight: bold;
    position: absolute;
}

#_tttop {
    border: 0;
    color: black;
    display: block;
    font: 12px sans-serif;
    font-weight: bold;
    height: 5px;
    margin-left: 5px;
    overflow: hidden;
}

#_ttcont {
    background-color: white;
    border: 2px solid;
    border: 0;
    color: black;
    display: block;
    font: 12px sans-serif;
    font-weight: bold;
    margin-left: 5px;
    padding: 2px 12px 3px 7px;
}

#_ttbot {
    border: 0;
    color: black;
    display: block;
    font: 12px sans-serig;
    font-weight: bold;
    height: 5px;
    margin-left: 5px;
    overflow: hidden;
}

.btn:hover, .btn:hover {
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.fa-check, .btn-danger {
    border-color: #1f4e78;
    color: white;
}

.fa-times, .btn-success {
    border-color: maroon;
    color: maroon;
}

.load-ui-QM {
    display: none;
    height: 100%;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    width: 100%;
    z-index: 9999;
}

.cargando-ui-QM img {
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: rotate;
    -moz-animation-timing-function: linear;
    -moz-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -ms-transition-duration: 1s;
    -ms-transition-property: transform;
    -o-transition-duration: 1s;
    -o-transition-property: transform;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: rotate;
    -webkit-animation-timing-function: linear;
    -webkit-transition-duration: 1s;
    -webkit-transition-property: -webkit-transform;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: rotate;
    animation-timing-function: linear;
    left: 49%;
    position: absolute;
    top: 40%;
    transition-duration: 1s;
    transition-property: transform;
    width: 10%;
}

.backdrop-ui-QM {
    -ms-opacity: 0.4;
    background: #808080;
    height: 100%;
    opacity: 0.4;
    width: 100%;
}


@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(0); }

    to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes rotate {
    from { -moz-transform: rotate(0); }

    to { -moz-transform: rotate(360deg); }
}

@keyframes rotate {
    from {
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    to {
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.CampoRequerido { color: black; }

.CampoAux { font-size: 12px; }

.btn-blank {
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    color: black;
}