<div id="SeccionPasos">
    <ul class="wizard-steps">
        <li id="Paso1">
            <h5>Paso 1</h5>
            <span>Información del promovente y/o paciente</span>
        </li>
        <li id="Paso2">
            <h5>Paso 2</h5>
            <span>Información de la cita</span>
        </li>
        <li id="Paso3">
            <h5>Paso 3</h5>
            <span>Confirmación de la cita</span>
        </li>
        <li id="ResultadoAgenda" style="width:15%">
            <i class="glyphicon glyphicon-ok-circle"></i>
        </li>
    </ul>
</div>

