<div class="container">
	<div class="col-md-10 col-md-offset-1 clearfix vertical-buffer">



		<h2>
			AVISO DE PRIVACIDAD INTEGRAL PARA GENERAR UNA CITA EN LA QUE SE DEBERÁ EXHIBIR LA DOCUMENTACIÓN QUE SE REQUIERE AL PRESENTAR UNA QUEJA MÉDICA DEL ISSSTE
		</h2>
		<h3>
			¿Quiénes somos?
		</h3>
		<p>
			El Instituto de Seguridad y Servicios Sociales de los Trabajadores del Estado (ISSSTE), con domicilio en calle Jesus García Corona 140, Colonia Buenavista,  Delegación Cuauhtémoc, C.P. 06350, Ciudad De México, es el sujeto obligado y responsable del uso y protección de sus datos personales, los cuales serán protegidos conforme a lo dispuesto por la Ley General de Protección de Datos Personales en Posesión de Sujetos Obligados y demás normativa que resulte aplicable.
		</p>
		<h3>
			¿Para qué fines utilizaremos sus datos personales?
		</h3>
		<p>
			Los datos personales que recabamos de Usted, a través del portal Institucional dentro de www.gob.mx, cuyo administrador y responsable del tratamiento es la Unidad de Gobierno Digital de la Secretaría de la Función Pública, los utilizaremos con la finalidad de generar una cita en la que se deberá exhibir la documentación que se requiere al presentar una queja médica del ISSSTE.
		</p>
		<h3>
			¿Qué datos personales utilizaremos para estos fines?
		</h3>
		<p>
			Para llevar a cabo las finalidades descritas en el presente aviso de privacidad, utilizaremos los siguientes datos personales del promovente y paciente:

			<ul>
				<li>Nombre completo del promovente o paciente</li>
				<li>CURP</li>
				<li>Sexo</li>
				<li>Número Telefónico fijo</li>
				<li>Número Telefónico celular</li>
				<li>Correo Electrónico</li>
				<li>Edad</li>

			</ul>
			(En caso de que el promovente y paciente sean la misma persona, se utilizaran los mismos datos personales.)

		</p>
		<h3>
			Fundamento legal para llevar a cabo el tratamiento
		</h3>
		<p>
			El ISSSTE trata los datos personales antes señalados con fundamento en el artículo 2 fracciones I y XXXIII de la Ley General de Protección de Datos Personales en Posesión de Sujetos Obligados vigente.
		</p>
		<h3>
			¿Cómo puede acceder, rectificar o cancelar sus datos personales, u oponerse a su uso?
		</h3>
		<p>
			Usted tiene derecho a conocer qué datos personales tenemos de Usted, para qué los utilizamos y las condiciones del uso que les damos (Acceso).
		</p>
		<p>
			Asimismo, es su derecho solicitar la corrección de su información personal en caso de que esté desactualizada, sea inexacta o incompleta (Rectificación); que la eliminemos de nuestros registros o bases de datos cuando considere que la misma no está siendo utilizada adecuadamente (Cancelación); así como oponerse al uso de sus datos personales para fines específicos (Oposición). Estos derechos se conocen como derechos ARCO.
		</p>
		<p>
			La solicitud de derechos ARCO debe ser presentada a través de los medios o ventanillas de atención señaladas en este aviso privacidad y debe contener la siguiente información:

			<ol>
				<li>El nombre y domicilio del titular o cualquier otro medio para recibir la respuesta (si el titular omite la dirección o cualquier otro medio que haya elegido para contactarlo, se tendrá por no recibida la solicitud).</li>
				<li>Los documentos que acrediten la identidad o la personalidad de su representante.</li>
				<li>La descripción clara y precisa de los datos personales respecto de los cuales el titular busca ejercer alguno de los derechos.</li>
				<li>En su caso, otros elementos o documentos que faciliten la localización de los datos personales.</li>

			</ol>
		</p>
		<h3>
			Para el ejercicio de cualquiera de los derechos ARCO, usted deberá presentar la solicitud respectiva a través del siguiente medio:
		</h3>
		<p>
			Los datos de contacto de la persona o departamento de datos personales, que está a cargo de dar trámite a las solicitudes de derechos ARCO, son los siguientes:

			<ul class="list-unstyled">
				<li>	a)	Subdirección de Atención al Derechohabiente del ISSSTE; con domicilio en calle Jesus García Corona 140, piso 5 ala “A”, en la colonia Buenavista, Ciudad de México, delegación Cuauhtémoc, C.P. 06350, en la Ciudad De México.</li>
			</ul>
		</p>
		<h3>
			Usted puede revocar su consentimiento para el uso de sus datos personales o limitar el uso o divulgación de su información personal.

		</h3>
		<p>
			Usted puede revocar el consentimiento que, en su caso, nos haya otorgado para el tratamiento de sus datos personales. Sin embargo, es importante que tenga en cuenta que no en todos los casos podremos atender su solicitud o concluir el uso de forma inmediata, ya que es posible que por alguna obligación legal requiramos seguir tratando sus datos personales. Asimismo, usted deberá considerar que para ciertos fines, la revocación de su consentimiento implicará que no le podamos seguir prestando el servicio que nos solicitó, o la conclusión de su relación con nosotros.


		</p>
		<p>
			Para revocar su consentimiento  o limitar el uso o divulgación de su información personal deberá presentar su solicitud a la Subdirección de Atención al Derechohabiente del ISSSTE.
		</p>
		<h3>
			Transferencia de datos personales
		</h3>
		<p>
			No se realizarán transferencias de datos personales, salvo aquéllas que sean necesarias para atender requerimientos de información de una autoridad competente, que esté debidamente fundados y motivados.
		</p>
		<h3>
			¿Cómo puede conocer los cambios en este aviso de privacidad?
		</h3>
		<p>
			El presente aviso de privacidad puede sufrir modificaciones, cambios o actualizaciones derivadas de nuevos requerimientos legales; de nuestras propias necesidades por los productos o servicios que ofrecemos; de nuestras prácticas de privacidad; de cambios en nuestro modelo de negocio, o por otras causas.
		</p>
		<p>
			Nos comprometemos a mantenerlo informado sobre los cambios que pueda sufrir el presente aviso de privacidad, a través de la liga @Html.ActionLink("www.gob.mx/digitalizaciondecitas/privacidadintegral", "PrivacidadIntegral", "Promovente", new { CatTipoTramiteId = 1 }, null)

		</p>
	</div>
</div>
