<div class="alert alert-info">

	<strong>AVISO DE PRIVACIDAD SIMPLIFICADO PARA GENERAR UNA CITA EN LA QUE SE DEBERÁ EXHIBIR LA DOCUMENTACIÓN QUE SE REQUIERE AL PRESENTAR UNA SOLICITUD DE REEMBOLSO POR GASTOS MÉDICOS EXTRAINSTITUCIONALES DEL ISSSTE</strong>
	<p>
		El Instituto de Seguridad y Servicios Sociales de los Trabajadores del Estado, es el responsable del uso y protección de los datos personales que se recaban para generar la cita en la que se deberá exhibir la documentación que se requiere al presentar un recurso de reconsideración (derivado de las resoluciones de quejas médicas y/o solicitudes de reembolso) del ISSSTE.
	</p>
	<p>
		Los datos personales que se recaban serán utilizados con la finalidad de generar una cita en la que se deberá exhibir la documentación que se requiere al presentar un recurso de reconsideración (derivado de las resoluciones de quejas médicas y/o solicitudes de reembolso) del ISSSTE.
	</p>
	<p>
		Si deseas conocer nuestro aviso de privacidad integral, lo podrás consultar en el portal
		@Html.ActionLink("www.gob.mx/digitalizaciondecitas/privacidadintegral", "PrivacidadIntegral", "Promovente", new { CatTipoTramiteId = 3 }, new { target = "_blank" })


	</p>

</div>