<div data-ng-controller="requestDetailController as vm" data-ng-init="vm.initRequest()">

    <div class="@ISSSTE.Tramites2016.QuejasMedicas.Helpers.Tag.Col(12)" style="height: 30px;"></div>

    <div class="col-xs-12">
        <div class="col-xs-12">
            <h3>Solicitud: {{vm.information.Folio}}</h3>
        </div>
        <div class="col-xs-12">
            <div class="alerts"></div>
        </div>


        <div id="content" class="col-xs-12">
            <!--TABS-->
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#infogen">Información general</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#segsol">Seguimiento de la solicitud</a>
                </li>
            </ul>

            <div class="tab-content">

                <!--INFORMACION GENERAL-->
                <div id="infogen" class="tab-pane fade in active">

                    <!--Promovente-->
                    <div ng-show="vm.information.Promovente!=null">
                        <div class="pull-right margintop-20">
                            <a ng-href="#{{nc.getSearchUrl(true)}}" style="margin-right: 0px" class="btn btn-default" type="button">
                                Volver a consulta de solicitudes
                            </a>
                        </div>
                        <div class="form-group col-xs-12">
                            <h3>Datos del promovente</h3>
                            <hr class="red">
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="control-label">Nombre(s):</label>
                                <input class="form-control" data-ng-model="vm.information.Promovente.Nombre" id="Nombre" name="Nombre" type="text" disabled="disabled" />
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Primer apellido:</label>
                                <input class="form-control" data-ng-model="vm.information.Promovente.Paterno" d="PrimerApellido" name="PrimerApellido" type="text" disabled="disabled" />
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Segundo apellido:</label>
                                <input class="form-control" data-ng-model="vm.information.Promovente.Materno" id="SegundoApellido" name="SegundoApellido" type="text" disabled="disabled" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="control-label">Clave Única de Registro de Población:</label>
                                <input class="form-control" data-ng-model="vm.information.Promovente.CURP" id="SegundoApellido" name="SegundoApellido" id="CURP" name="Curp" type="text" disabled="disabled" />
                            </div>

                            <div class="form-group col-md-4">
                                <label class="control-label">Sexo:</label>
                                <input class="form-control" data-ng-model="vm.information.Promovente.Sexo" id="Sexo" name="Sexo" type="text" disabled="disabled" />
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Edad:</label>
                                <input class="form-control" data-ng-model="vm.information.Promovente.Edad" id="Edad" name="Edad" type="text" disabled="disabled" />

                            </div>
                        </div>

                        <div class="col-xs-12">
                            <h3>Datos de contacto</h3>
                            <hr class="black">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="telefono">Tel&eacute;fono fijo<span class="required"></span>:</label>
                            <input class="form-control" data-ng-model="vm.information.Promovente.TelFijo" id="TelefonoFijo" name="TelefonoFijo" type="text" disabled="disabled" />
                        </div>
                        <div class="form-group col-md-4">
                            <label for="telefono">Celular<span class="required"></span>:</label>
                            <input class="form-control" data-ng-model="vm.information.Promovente.TelMovil" id="Celular" name="Celular" type="text" disabled="disabled" />

                        </div>
                        <div class="form-group col-md-4">
                            <label for="correo">Correo electr&oacute;nico<span class="required"></span>:</label>
                            <input class="form-control" data-ng-model="vm.information.Promovente.CorreoElectronico" id="Correo" name="Email" type="text" disabled="disabled" />
                        </div>

                    </div>
                    <!--Promovente-->
                    <!--Paciente-->
                    <div ng-show="(vm.information.Paciente!=null && vm.information.Promovente!=null) && (vm.information.Promovente.PersonaId!=vm.information.Paciente.PersonaId) ">
                        <div class="form-group col-xs-12">

                            <h3>Datos del paciente</h3>
                            <hr class="red">
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="control-label">Nombre(s):</label>
                                <input class="form-control" data-ng-model="vm.information.Paciente.Nombre" id="Nombre" name="Nombre" type="text" disabled="disabled" />
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Primer apellido:</label>
                                <input class="form-control" data-ng-model="vm.information.Paciente.Paterno" id="PrimerApellido" name="PrimerApellido" type="text" disabled="disabled" />
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Segundo apellido:</label>
                                <input class="form-control" data-ng-model="vm.information.Paciente.Materno" id="SegundoApellido" name="SegundoApellido" type="text" disabled="disabled" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="control-label">Clave Única de Registro de Población:</label>
                                <input class="form-control" data-ng-model="vm.information.Paciente.CURP" id="CURP" name="Curp" type="text" disabled="disabled" />
                            </div>

                            <div class="form-group col-md-4">
                                <label class="control-label">Sexo:</label>
                                <input class="form-control" data-ng-model="vm.information.Paciente.Sexo" id="Sexo" name="Sexo" type="text" disabled="disabled" />
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Edad:</label>
                                <input class="form-control" data-ng-model="vm.information.Paciente.Edad" id="Edad" name="Edad" type="text" disabled="disabled" />

                            </div>
                        </div>

                        <div class="col-xs-12">
                            <h3>Datos de contacto</h3>
                            <hr class="black">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="telefono">Tel&eacute;fono fijo<span class="required"></span>:</label>
                            <input class="form-control" data-ng-model="vm.information.Paciente.TelFijo" id="TelefonoFijo" name="TelefonoFijo" type="text" disabled="disabled" />
                        </div>
                        <div class="form-group col-md-4">
                            <label for="telefono">Celular<span class="required"></span>:</label>
                            <input class="form-control" data-ng-model="vm.information.Paciente.TelMovil" id="Celular" name="Celular" type="text" disabled="disabled" />

                        </div>
                        <div class="form-group col-md-4">
                            <label for="correo">Correo electr&oacute;nico<span class="required"></span>:</label>
                            <input class="form-control" data-ng-model="vm.information.Paciente.CorreoElectronico" id="Correo" name="Email" type="text" disabled="disabled" />
                        </div>
                    </div>
                    <!--Paciente-->


                </div>
                <!--INFORMACION GENERAL-->
                <!--SEGUIMIENTO DE LA SOLICITUD-->
                <div id="segsol" class="tab-pane fade">
                    <div class="row">
                        <div class="pull-right margintop-20">
                            <a ng-href="#{{nc.getSearchUrl(true)}}" style="margin-right: 0px" class="btn btn-default" type="button">
                                Volver a consulta de solicitudes
                            </a>
                        </div>
                    </div>
                    
                    <div class="form-group col-xs-12">
                        <h3>Datos de la cita</h3>
                        <hr class="red">
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Folio:</label>
                                <input class="form-control" data-ng-model="vm.information.Folio" id="Folio" name="Folio" type="text" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Fecha de la cita:</label>
                                <input class="form-control" value="{{vm.information.Cita.FechaCita}}" id="FechaHoraCita" name="FechaHoraCita" type="text" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Hora de la cita:</label>
                                <input class="form-control" value="{{vm.information.Cita.HoraCita}}" id="HoraCita" name="HoraCita" type="text" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Actualizar estado:</label>
                                <select class="form-control"
                                        data-ng-options="status.EstadoCitaId as status.Concepto for status in vm.statusList"
                                        data-ng-model="vm.nextStatusId">
                                    <option value="" onmouseover="tooltip.show('Seleccione el estado de la cita al que deseas actualizar.')" onmouseout="tooltip.hide();">Selecciona un estatus</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <label class="control-label">Desbloquear usuario:</label>
                            </div>
                            <div class="form-group col-md-4">
                                <a ng-click="vm.unlockUserByRequestId(vm.information.SolicitudId)">
                                    <button ng-disabled="vm.information.Paciente.EsUsuarioBloqueado!=true" button type="button" class="btn btn-primary btn-sm">
                                        Desbloquear
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 pull-right">
                            <a class="pull-right" ng-click="vm.saveStatusAppointment(vm.information.SolicitudId)">
                                <button ng-disabled="vm.nextStatusId==null" button type="button" class="btn btn-primary btn-sm">
                                    Guardar
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="row" style="height: 20px;">&nbsp;</div>
                </div>
                <!--SEGUIMIENTO DE LA SOLICITUD-->

            </div>

        </div><!--TABS-->

        <div class="row pull-right" style="margin-top: 30px;margin-bottom:30px;">
            <div class="col-md-12">
                <button type="button" style="text-decoration: none; opacity: 1;" class="btn btn-default"  ng-click="vm.ImprimirCitaPDF(vm.information.Folio);"  id="ImprimirCita"><span id="Span_ImprimirCita" class="fa fa-file-pdf-o" aria-hidden="true"></span>&nbsp;&nbsp;Descargar comprobante</button>
            </div>
        </div>


    </div>
</div>
<script>
    UI.initTabs();
</script>